@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: black;

  overflow: hidden;
}

.bg {
  position: fixed;
  bottom: 15vh;
  width: 1591px;
  /* min-height: 1440px; */
  min-width: 1591px;
  filter: blur(150px);
  -webkit-filter: blur(150px);
}

@media screen and (min-width: 1500px) {
  .bg {
    min-width: 100vw;
  }
}

.form-bg {
  border: 1px solid rgba(212, 212, 216, 0.60);
  background: linear-gradient(263deg, #2E2773 0%, #2F2C45 100%);
}

.sendButton {
  border: 1px solid rgba(255, 255, 255, 1);
}


.form-input {
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
}

.sendIcon {
  font-size: 24px;
}

.mailIcon {
  font-size: 24px;
  position: absolute;
  left: 15px;
  opacity: 0.4;
  color: #ffffff;
}

@media screen and (max-width: 640px) {
  .sendIcon {
    font-size: 16px;
  }

  .mailIcon {
    font-size: 16px;
    left: 10px;
  }
}


.googleButton {
  border: 1px solid white;
}


.copyButton {
  border: 1px solid #FFF;
  
  cursor: pointer;
}

.share {
  border: 1px solid transparent;
  position: relative;
}
.share::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit; 
  padding: 1px; 
  background:linear-gradient(to top,rgba(255, 255, 255, 0.3), transparent); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.cool-bg {
  background: linear-gradient(88deg, #7FC6EE 49.87%, #9ADA68 61.53%, #B0C2CA 69.4%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cool-border {
  border: 1.5px solid transparent;
  position: relative;
}
.cool-border::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit; 
  padding: 2px;
  width: 100%;
  background: linear-gradient(#7FC6EE, #9ADA68, #B0C2CA); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}